{% extends "base.html" %}
{% block title %}Modified{% endblock %}

{% block content %}
<h1 id="gametitle">Word Chain</h1>

<div class="titledifftime">
<h2 id = "diffreader">Difficulty: {{ diff }}</h2>
<h2 id="timetext">Time Left: ∞</h2>
</div>

<h3 id="diffsel" class="centered hidediff">Please select a difficulty.</h3>
<h4 id="diffexpl" class="centered">Hard Mode requires child words to be within +-3 length of the parent.</h4>

    <div id="outputparent"></div>
    <div id="outputdef"></div>

    <div class = "diffbuttons">
<button id="normalButton" class="hidediff" onclick="normalMode(this)">NORMAL</button>
<button id="hardButton" class="hidediff" onclick="hardMode(this, true)">💀 HARD</button>
</div>

<div class = "testingsubmission">
   <input type="text" id="inputtext">
       <button id="senddata" onclick="sendData()">Send Data</button>
       </div>

        <div id="chaintop"></div>      
                <p id="fwtext" class="centered rstremove">Enter an initial word built from letters of the parent word.</p>
 
        <p id="wordchain" class="centered"></p>

        <div class = "centerbtn wordsubmission">
      <input type="text" class="rstremove" id="wordinput" placeholder="Enter initial word here...">
    <input type="text" class="rstremove dispnone" id="childwordinput" placeholder="Enter child word here...">

    <button id="submitword" class="rstremove" onclick="submitFirstWord()">Submit Word</button>
        <button id="submitchildword" class="rstremove dispnone" onclick="submitChildWord()">Submit Word</button>

    </div>

        <button class="debug" onclick="checkDifficulty()">Check Diff</button>
        <div class="centerbtn">
        <button id="buttonmain" onclick="runMain()">Start Game</button>
</div>

    <button id="buttonreset" class="rstremove" onclick="resetGame()">End Game</button>

    <div class="rstremove" id="fail"><p></p></div>

        <div id="output-diff"></div>


       



    <script>
        const textInput = document.getElementById('wordinput');
        const childTextInput = document.getElementById('childwordinput');

    textInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        console.log('Enter key pressed!');
        submitFirstWord();
      }
    });

        childTextInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        submitChildWord();
      }
    });
    </script>

{% endblock %}
